<?xml version="1.0"?>
<model>
  <name>Luna Rock Apollo Sample 20</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>THI Robotics Lab</name>
    <email>robotics@thi.de</email>
  </author>

  <description>
    Apollo sample 20 lunar rock model for THI Lunar Challenge
  </description>
</model>